.day-schedule {
  color: white;
  border: 5px #ff000052 solid;
  padding: 10px;
  opacity: 0.7;
  margin: 0;
}

.hour {
  color: white;
  text-decoration: overline red;
  text-decoration-color: red;
}

.no-class {
  color: #ffffff82;
  display: flex;
  align-items: center;
  font-family: monospace;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  height: 100px;
  width: 153px;
  font-size: 1.5em;
}

p {
  margin: 0;
}
.hour-list {
  height: 100px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 15px;
  opacity: 0.3;
  width: 25vh;
  font-weight: 600;
}
